/* Basic settings */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100%;
    height: 100vh;
}

/* sidebar */
.notes__sidebar{
    width: 400px;
    height: 100vh;
    border-right: 2px solid #000000;
    background-color: antiquewhite;
    margin-left: 0%;
}

.notes__sidebar input, textarea{
    width: 100%;
    resize: none;
}

.notes__sidebar textarea{
    max-height: 10%;
    resize: none;
}

/* notes contaier */
.notes__container{
    background-color: aqua;
}